* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.table-style {
    display: block;
    margin: 30px auto;
    width: 70%;
    padding: 18px;

    border-collapse: collapse;
}

th {
    background: rgb(187, 187, 187);
}

td, th {
    border: 1px solid rgba(48,48,48,.8);
    padding: 20px;
}

fieldset {
    padding: 30px;
    border-radius: 20px;
    max-width: 70%;
    display: block;
    margin: 30px auto;
}

h1 {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.cuerpoFormulario {
    display: flex;
    justify-content: space-between;
    align-items: center;}

.pieFormulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 30px;
    border-radius: 9px;
    border: 1px solid;
    width: 31%;
    height: 40px;
    margin: 15px 0;
}

#codigo {
    width: 85%;
}

#descripcion {
    width: 85%;
}

#envioFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
}
#envioFormulario:hover {
    background-color: rgb(189, 189, 189);
    transition: all 4ms;
}

label {
    font-size: 1.2em;
}