* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    position: fixed;
}

.login {
    height: 500px;
    width: 400px;
    background: rgba(245, 245, 245, 0.4);
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
}